node_modules
.next
.git
.github
.vscode

.env
.env.*
!.env.example

data
uploads
storage

*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal

npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store